<div class="container">
	<h1>Update entry</h1>
	<form name="CreateForm" class="form-group jumbotron" ng-submit="updateEntry()">
		<div class="input-field">
			<input type="text" ng-model="updateData.title" placeholder="{{updateData.title}}">
			<label for="title">Title</label>
		</div>
		<div class="input-field">
			<input type="text" ng-model="updateData.text" placeholder="{{updateData.text}}">
			<label for="text">Text</label>
		</div>
		<button class="btn waves-effect">Update</button>
	
	</form>
</div>