<!DOCTYPE html>
<html>
  <head>
    <title>Sails Angular</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body ng-app="sails-angular">

    <nav class="light-blue darken-1">
        <div class="container">
            <ul>
                <li>
                    <a ui-sref="home" class="waves-effect">Home</a>
                </li>
                <li>
                    <a ui-sref="crud" class="waves-effect">CRUD</a>
                </li>
            </ul>
        </div>

    </nav>

    <main>
        
        <div ui-view=""></div>
        
    </main>
    
    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col s6 offset-s6">
                    <p>Powered by:</p>
                        <div class="row">
                            <div class="col s4">
                                <a href="http://sailsjs.org" target="_blank">
                                    <img ng-src="/images/Sailsjs.png" alt="Sails.js">
                                </a>
                            </div>
                            <div class="col s4">
                                <a href="https://angularjs.org/" target="_blank">
                                    <img ng-src="/images/AngularJS.png" alt="Angular.js">
                                </a>
                            </div>
                            <div class="col s4">
                                <a href="http://http://materializecss.com/">
                                    <img ng-src="/images/Materialize.png" alt="Materialize CSS">
                                </a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </footer>

    <script src="http://localhost:35729/livereload.js"></script>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery/jquery.min.js"></script>
    <script src="/js/dependencies/angular/angular.min.js"></script>
    <script src="/js/dependencies/angular-loader/angular-loader.min.js"></script>
    <script src="/js/dependencies/angular-mocks/angular-mocks.js"></script>
    <script src="/js/dependencies/angular-resource/angular-resource.min.js"></script>
    <script src="/js/dependencies/angular-ui-router/angular-ui-router.min.js"></script>
    <script src="/js/dependencies/materialize/angular-materialize.js"></script>
    <script src="/js/dependencies/materialize/materialize.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/modules/crud.js"></script>
    <script src="/js/modules/home.js"></script>
    <!--SCRIPTS END-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </body>
</html>
