<div class="container">
	<header class="jumbotron hero-spacer">
        <h1>Hello!!</h1>
        <p>This is a SailsJs, AngularJs and Materialize example, feel free to use it in your proyects.</p>
        <p>Start using the built in simple CRUD</p>
        <p><a ui-sref="crud" class="btn waves-effect">Simple CRUD</a>
        </p>
    </header>

    <div class="row">
    	<div ng-repeat="feature in features" class="col s12 m6 l3 home-card">
            <div class="card card-small">
                <div class="card-image">
                    <img ng-src="{{feature.image}}" alt="">
                </div>
                <div class="card-content">
                    <span class="card-title grey-text activator">{{feature.title}}<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text">{{feature.title}}<i class="material-icons right">close</i></span>
                    <p>{{feature.info}}</p>
                    <p>{{feature.ver}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
